body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.form-container {
    background-color: #47de56;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

.hidden {
    display: none;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#landList ul {
    list-style-type: none;
    padding: 0;
}

#landList ul li {
    margin-bottom: 10px;
}
